:root {
    /* Primary */
    --soft-blue: hsl(215, 51%, 70%);
    --cian: hsl(178, 100%, 50%);

    /* Neutral */
    --main-bg: hsl(217, 54%, 11%);
    --card-bg: hsl(216, 50%, 16%);
    --line: hsl(215, 32%, 27%);
    --white: hsl(0, 0%, 100%);
}

/*

font-family: "Outfit", sans-serif;
font-weight: <weight>; (300, 400, 600)

*/

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-size: 1.2rem;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--main-bg);
}

main {
    box-shadow: 0rem 1rem 5rem 0px black;
    background-color: var(--card-bg);
    border-radius: 15px;
    width: 20rem;
    padding: 1.5rem;
    margin-top: 2rem;
}

.main-img {
    border-radius: 15px;
    width: 20rem;
}

main h1 {
    font-family: "Outfit", sans-serif;
    font-weight: 600;
    color: var(--white);
    padding-top: 1rem;
}

.description {
    padding-top: 1rem;
    color: var(--soft-blue);
    font-family: "Outfit", sans-serif;
    font-weight: 300;
}

.price {
    font-family: "Outfit", sans-serif;
    font-weight: 300;
    color: var(--cian);
    float: left;
}

.time {
    font-family: "Outfit", sans-serif;
    font-weight: 300;
    color: var(--soft-blue);
    float: right;
}

 
.cont {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-bottom: 2.5rem;
}

.ethereum, .clock {
    
    padding-right: 5px;
}

hr{
    height: 1px;
    background-color: var(--line);
    border: none;
    margin-bottom: 1rem;
}

.creator-image {
    margin-right: 1rem;
    width: 2rem;
    border: 1px solid var(--white);
    border-radius: 100%;
}

.creator-name {
    font-family: "Outfit", sans-serif;
    font-weight: 300;
    color: var(--soft-blue);
}

.creator-name span {
    font-weight: 600;
    color: var(--white);
}

.creator-cont {
    display: flex;
    align-items: center; 
}

h1:hover {
    cursor: pointer;
    color: var(--cian);
}

.creator-name span:hover {
    cursor: pointer;
    color: var(--cian);
}

@media only screen and (max-width: 442px) {

    * {
        font-size: 1rem;
    }

    main {
        max-width: 15rem;
    }

    .main-img {
        max-width: 15rem;
    }

}